<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <settings>
    <setting name="PhysicalControllerInstanceIds" serializeAs="Xml" value="" />
    <setting name="UpdateUrl" serializeAs="String" value="https://api.github.com/repos/Valkirie/HandheldCompanion" />
    <setting name="QuietModeEnabled" serializeAs="String" value="False" />
    <setting name="MainWindowTop" serializeAs="String" value="0" />
    <setting name="HidModeDoNotShowAgain" serializeAs="String" value="False" />
    <setting name="OnScreenDisplayLevel" serializeAs="String" value="0" />
    <setting name="OverlayControllerOpacity" serializeAs="String" value="1" />
    <setting name="MainWindowPrevState" serializeAs="String" value="2" />
    <setting name="StartMinimized" serializeAs="String" value="False" />
    <setting name="OverlayModel" serializeAs="String" value="0" />
    <setting name="MainWindowBackdrop" serializeAs="String" value="1" />
    <setting name="HIDcloakonconnect" serializeAs="String" value="True" />
    <setting name="OverlayControllerAlwaysOnTop" serializeAs="String" value="True" />
    <setting name="QuietModeToggled" serializeAs="String" value="False" />
    <setting name="OnScreenDisplayRefreshRate" serializeAs="String" value="900" />
    <setting name="OverlayControllerSize" serializeAs="String" value="300" />
    <setting name="OverlayControllerRestingRoll" serializeAs="String" value="0" />
    <setting name="SteamControllerMute" serializeAs="String" value="True" />
    <setting name="ConfigurableTDPOverrideDown" serializeAs="String" value="0" />
    <setting name="ToastEnable" serializeAs="String" value="False" />
    <setting name="QuickToolsLocation" serializeAs="String" value="3" />
    <setting name="MainWindowTheme" serializeAs="String" value="0" />
    <setting name="SensorPlacement" serializeAs="String" value="0" />
    <setting name="QuicktoolsBackdrop" serializeAs="String" value="1" />
    <setting name="MainWindowLeft" serializeAs="String" value="0" />
    <setting name="QuickToolsHeight" serializeAs="String" value="696" />
    <setting name="ConfigurableTDPOverrideUp" serializeAs="String" value="0" />
    <setting name="DSUEnabled" serializeAs="String" value="True" />
    <setting name="MainWindowState" serializeAs="String" value="1" />
    <setting name="MainWindowHeight" serializeAs="String" value="696" />
    <setting name="SensorPlacementUpsideDown" serializeAs="String" value="False" />
    <setting name="QuietModeDuty" serializeAs="String" value="40" />
    <setting name="PlatformRTSSEnabled" serializeAs="String" value="True" />
    <setting name="OverlayControllerAlignment" serializeAs="String" value="7" />
    <setting name="UseEnergyStar" serializeAs="String" value="False" />
    <setting name="OverlayTrackpadsAlignment" serializeAs="String" value="1" />
    <setting name="LayoutFilterOnDevice" serializeAs="String" value="True" />
    <setting name="HIDuncloakonclose" serializeAs="String" value="True" />
    <setting name="MainWindowIsPaneOpen" serializeAs="String" value="True" />
    <setting name="OverlayTrackpadsSize" serializeAs="String" value="250" />
    <setting name="RunAtStartup" serializeAs="String" value="False" />
    <setting name="FirstStart" serializeAs="String" value="False" />
    <setting name="HIDInstancePath" serializeAs="String" value="" />
    <setting name="HIDmode" serializeAs="String" value="0" />
    <setting name="QuickToolsAutoHide" serializeAs="String" value="False" />
    <setting name="OverlayControllerRestingYaw" serializeAs="String" value="0" />
    <setting name="VibrationStrength" serializeAs="String" value="85" />
    <setting name="NativeDisplayOrientation" serializeAs="String" value="1" />
    <setting name="OverlayFaceCamera" serializeAs="String" value="True" />
    <setting name="QuietModeDisclosure" serializeAs="String" value="False" />
    <setting name="SensorSelection" serializeAs="String" value="3" />
    <setting name="HIDvibrateonconnect" serializeAs="String" value="False" />
    <setting name="CurrentCulture" serializeAs="String" value="en-US" />
    <setting name="OverlayRenderAntialiasing" serializeAs="String" value="False" />
    <setting name="CloseMinimises" serializeAs="String" value="False" />
    <setting name="OverlayControllerRestingPitch" serializeAs="String" value="0" />
    <setting name="VirtualControllerForceOrder" serializeAs="String" value="False" />
    <setting name="QuickToolsIsPaneOpen" serializeAs="String" value="False" />
    <setting name="DSUip" serializeAs="String" value="127.0.0.1" />
    <setting name="UpdateLastChecked" serializeAs="String" value="1989-12-20" />
    <setting name="DSUport" serializeAs="String" value="26760" />
    <setting name="OverlayTrackpadsOpacity" serializeAs="String" value="0.25" />
    <setting name="PlatformHWiNFOEnabled" serializeAs="String" value="True" />
    <setting name="OverlayRenderInterval" serializeAs="String" value="30" />
    <setting name="DesktopProfileOnStart" serializeAs="String" value="False" />
    <setting name="MainWindowWidth" serializeAs="String" value="1296" />
    <setting name="HIDstatus" serializeAs="String" value="1" />
    <setting name="OverlayControllerMotion" serializeAs="String" value="True" />
    <setting name="ConfigurableTDPOverride" serializeAs="String" value="False" />
    <setting name="OverlayControllerBackgroundColor" serializeAs="String" value="#00000000" />
    <setting name="LEDSettingsLevel" serializeAs="String" value="0" />
    <setting name="LEDSettingsEnabled" serializeAs="String" value="True" />
    <setting name="LEDSecondColor" serializeAs="String" value="#FFFFFF00" />
    <setting name="LEDBrightness" serializeAs="String" value="50" />
    <setting name="LEDSettingsUseAccentColor" serializeAs="String" value="False" />
    <setting name="LEDMainColor" serializeAs="String" value="#FFFFFF00" />
    <setting name="SuspendedControllers" serializeAs="Xml" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;&#xD;&#xA;&lt;ArrayOfString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xD;&#xA;  &lt;string&gt;USB\VID_045E&amp;amp;PID_028E\5&amp;amp;31036E8E&amp;amp;0&amp;amp;8&lt;/string&gt;&#xD;&#xA;&lt;/ArrayOfString&gt;" />
    <setting name="ControllerManagement" serializeAs="String" value="False" />
    <setting name="LEDSpeed" serializeAs="String" value="50" />
    <setting name="SuspendedDevices" serializeAs="Xml" value="" />
    <setting name="LegionControllerPassthrough" serializeAs="String" value="False" />
    <setting name="LEDAmbilightVerticalBlackBarDetection" serializeAs="String" value="False" />
  </settings>
</configuration>